        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;/* Using Border-box model for consistent sizing */
            text-decoration: none;
            list-style: none;
            scroll-behavior: smooth;
            font-family: 'Poppins', sans-serif; /* Default font family */
            flex: 1 0 0; /* flex properties */
        
        }
        html{
            scroll-padding-top: 51px; /* Adjusting scroll padding for smooth scrolling with a fixed header */
        }
        :root{
            --bg-color: #242427; /* Background color */ 
            --main-color: #fff; /* Main text and accent color */
            --text-color: #fff; /* Text color */

            --h1-font: 3.9rem; /* Font size for H1 headings */
            --h2-font: 2.6rem; /* Font size for H2 headings */
            --p-font: 1rem; /* Font size for paragraphs */
        }
        body{
            background: var(--bg-color); /* Setting background color using custom variable */
            color: var(--text-color); /* Setting text color using custom variable */
        }
        header{
            position: fixed;
            width:100%;
            top: 0;
            right: 0;
            z-index: 1000; /* Setting a high z-index to ensure it stays on top */
            padding: 38px 19%; /* Padding for header */
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: transparent;
            transition: all .7s; /* For Smooth transition */
        }
        .logo{
            display: flex; 
            align-items: center;
            color: var(--text-color);
            font-size: 28px; /* Setting font size */
            font-weight: 600; /* Setting font weight */
        }
        .navbar{
            display: flex;
        }
        .navbar a{
            margin:0 25px;
            padding: 4px;
            color: var(--text-color); /* Use custom text color */
            font-size: var(--p-font); /* Use custom font size */
            font-weight: 400;
            border-bottom: 2px solid transparent;
            transition: all .7s;
        }
        .navbar a:hover{
            border-bottom: 2px solid var(--main-color); /* Adding a solid bottom border with the main color when hovered */
            color: var(--main-color);
        }

        #menu-icon{
            font-size: 34px;
            cursor: pointer;
            z-index: 10001;
            display: none; /* Initially hiding the menu icon */
        }

        section{
            padding: 40px 19% 30px; /* Setting padding for the section */
        }
        .home{
            height:100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between; /* Using space-between so that items are evenly distributed along the main axis */
            gap:35px;
        }
        .home-img{
            height: 360px;
            width: 360px;
            object-fit: contain; /* Ensures that the image is contained within its box */
        }
        .home-img img{
            width: auto;
            height: 500px;
            /* height: 458px;
            width: 358px; */
            border-radius: 40px;
        }
        .home-text
        {
            padding-top: 60px;
        }
        .home-text h5{
            font-size: 20px;
            font-weight: 500;

        }
        .home-text h1{
            margin: 15px 0; /* Sets top and bottom margin */
            font-size: var(--h1-font);
            color:var(--main-color);
            line-height: 1.1; /* Setting line height */
            font-weight: 800;
        }
        .button a{
            display: inline-block;
            padding: 10px 22px;
            background: transparent;
            color: var(--main-color);
            font-size: 16px;
            font-weight: 600;
            border: 1px solid var(--main-color); /* Adding a border with main color */
            border-radius: 8px; /* Added border radius for rounded corners */
            transition: all .7s;
        }
        .button a:hover{
            box-shadow: 0 0 20px var(--main-color);
        }
        header.sticky{
            background: #25262d;
            padding: 10px 19%;
        }
        .center h2{
            font-size: var(--h2-font);
            color: var(--main-color);
            font-weight: 700; /* Setting font weight */
            text-align: center;
        }
        .center p{
            font-size: var(--p-font);
            padding: 40px 0px;
            line-height: 32px;
            text-align: center;
        }
        .title h2{
            font-size: var(--h2-font);
            color: var(--main-color);
            font-weight: 700; /* Setting font weight */
            text-align: center; /* Center-aligning the heading */

        }

        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 400px;
            padding: 40px 187px;
        }
        .card{
            height: 395px;
            width: 335px;
            padding: 20px 35px;
            background:#6D6D72;
            margin: 15px;
            position: relative;
            overflow: hidden;
            text-align: center;

        }
        .card h2{
            font-size: var(--h2-font);
            color: var(--main-color);
            font-weight: 700; /*Setting Font weight*/
            text-align: center; /*Center align the heading*/
        }
        .skill-info p{
            padding:20px 0px;
        }
        .contact-form{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

        }
        .contact-form form{
            position: relative;
            width: 600px; /*Setting width*/
        }
        .form-content{
            position: absolute;
            left: -9999px;
        }

        form input,
        form textarea
        {
            width: 100%; /* Setting width to 100% of the container */
            padding: 20px; /*Setting padding*/
            border:none;
            outline: none;
            background: #6D6D72;
            color: var(--text-color);
            margin-bottom: 20px; /*Adding Margin Bottom*/

        }
        .send-button{
            width: 44.5%; /* Setting width*/
        }

        ::placeholder{
            color: var(--text-color); /* Setting color for placeholder text */
        }

        form .send-button:hover{
            cursor: pointer; /* Changes cursor to pointer on hover */
        }
        .footer{
            padding: 20px;
            display: flex;
            border-top: 1px solid rgb(255, 255, 255, 0.2); /* Adds a top border with a slight opacity */
            align-items: center;
            justify-content: center;
        }

        .footer p{
            text-align: center;
        }

        /* Media query for screens with a maximum width of 768px */
        @media(max-width: 768px)
        {
            header{
                padding: 12px 4%;
            }
            header.sticky{
                padding: 9px 4%;
            }
            section{
                padding: 50px 4% 50px;
            }
            .home-text{
                flex: 1 0 0;
            }
            .about h2{
                padding: 100px 50px 4% 50px;
            }
            .footer{
                padding: 15px 4%;
            }
            .home{
                height: 85vh;
            }
            .home-img{
                margin:0 auto;
                height: 450px;
                width:450px;
                padding-top: 50px;

            }
            .home{
                height: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
            }
            .center p{
                padding: 0;
            }
            #menu-icon{
                display: flex;
                justify-content: flex-end;
            }
            :root{
                --h1-font:3.5rem;
                --h2-font:2.2rem;
                --p-font:14px;
            }
            .navbar{
                position: absolute;
                top:100%;
                right:-100%;
                width:270px;
                /* height:100vh; */
                display: flex;
                flex-direction: column;
                background: #25262d;
                padding: 20px 10px;
                gap:0.6rem;
                text-align: left;
                transition: all 0.7s;
            }
            .navbar a{
                font-size: 20px;
                font-weight: 500;
            }
            .navbar.open{
                right: 0;
            }
            form.send-button{
                width: 50%;
            }

            .box {
                display: block;
                justify-content: initial; 
                align-items: initial; 
                min-height: 300px;
                padding: 40px 0px;
            }
            
            .card {
                
                width: 90%; 
                height: 250px;
                /* max-width: 500px;  */
                margin: 15px auto; 
            }
            #contact{
                padding-top: 0px;
            }
            .center p{
                padding-top: 20px;
            }
            .contact-form form{
                width: 100%;
            }
        /* Media query for screens with a maximum width of 320px */
        @media(max-width: 320px)
        {
            section{
                padding: 25px 4%;
            }
            .about h2{
                padding: 0px 50px 4% 50px;
            }
            .card {
                
                width: 90%; 
                height: 350px;
                /* max-width: 500px;  */
                margin: 15px auto; 
            }
            .navbar{
                position: absolute;
                top:100%;
                right:-100%;
                width:270px;
                /* height:100vh; */
                display: flex;
                flex-direction: column;
                background: #25262d;
                padding: 20px 10px;
                /* gap:0.6rem; */
                text-align: left;
                transition: all 0.7s;
            }
            .navbar a{
                font-size: 20px;
                font-weight: 500;
            }
        }
        }